@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #0071eb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.logout-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-button .fa-sign-out-alt {
  margin-right: 8px;
  font-size: 24px;
}

.logout-button:hover,
.logout-button:focus {
  color: #ffd700;
}

.logout-button:hover .fa-sign-out-alt,
.logout-button:focus .fa-sign-out-alt {
  color: #ffd700;
}
